img { 
    max-width: 100%;
    height: auto;
}

.characters { 
    background: #fff000;
}

.ilbuni {
    width: 100px;
}

.characters .ilbuni {
    display: inline-block;
}

.special {
    border: 10px dashed red;
}